<h1 class="page-header text-center">Support Hero Scheduler</h1>

<div class="row login-wrapper">
  <div class="col-sm-offset-4 col-sm-4">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.input :login, autofocus: true %>
      </div>

      <div class="field">
        <%= f.input :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit 'Log in', class: 'btn btn-primary stretch' %>
      </div>
    <% end %>

    <p class="text-center">Notes</p>
    <hr>
    <p>Test user credentials have been auto-inserted. You can also log in as another user, like 'sherry', 'jay', or 'zoe', all using password '123abc!!'.</p>

    <p>I made some compromises given limited time. My unit and integration tests are admittedly minimal. Also, holidays are checked against 'United States' holidays as opposed to 'California' holidays.</p>
  </div>
</div>
