<h1 class="page-header text-center">Support Hero Scheduler</h1>

<div class="row login-wrapper">
  <div class="col-sm-offset-4 col-sm-4">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.input :login, autofocus: true %>
      </div>

      <div class="field">
        <%= f.input :password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit 'Log in', class: 'btn btn-primary stretch' %>
      </div>
    <% end %>

    <div class="notes">

      <p class="text-center">Notes</p>

      <hr>

      <p>Test user credentials have been auto-inserted. You can also log in as another user by changing the username. Other users are 'sherry', 'jay', 'zoe', 'kevin', 'franky', 'vicente', 'jack', 'james', 'matte', 'luis', and 'eadon'.</p>

      <p>Also, I made a few comprimises given limited time. Tests are admittedly minimal, and holidays are checked against 'United States' holidays as opposed to California-specific holidays.</p>
    </div>
  </div>
</div>
